table{
    border-collapse: collapse;
    text-align: center;
    border: none;
    background-color: rgb(246, 245, 245);
}

button{
    background-color: rgb(49, 94, 170);
    color: white;
    border-radius: 5px;
}
th{
    background-color: rgb(37, 35, 35);
    color: white;
    margin: 5px;
}